/*

Fonts:

Kollektif Bold
font-family: 'Kollektif-Bold';

Kollektif Regular
font-family: 'Kollektif';

Gidole Regular
font-family: 'Gidole-Regular';

Colours:

Light Navy = #344c63
Darker Navy = #2d4256
Navy = #1c2a39
Teal = #4a967a
Aquamarine = #4cbea0
Fuchsia = #b3415f

*/

/*
Strip the box
*/

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4CBEA0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #344C63;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 110vh;
  background-color: #1c2a39;
}

a {
  text-decoration: none;
  color: white;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: white;
}

/*
Fonts
*/

@font-face {
    font-family: 'Kollektif-Bold';
    src: url('../fonts/Kollektif-Bold.woff2') format('woff2'),
        url('../fonts/Kollektif-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kollektif';
    src: url('../fonts/Kollektif.woff2') format('woff2'),
        url('../fonts/Kollektif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gidole-Regular';
    src: url('../fonts/Gidole-Regular.woff2') format('woff2'),
        url('../fonts/Gidole-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
Navbar Styling
*/

.navbar {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    position: sticky;
    z-index: 999;
}

.navbar-brand {
    width: 40%;
}

.navbar-nav {
    margin-top: -10px;
    font-family: 'Gidole-Regular';
    font-size: 20px;
    margin-left: 10%;
    width: 60%;
}

.active {
    border-bottom: 2px solid #4CBEA0;
    transition: all ease 200ms;
}

.nav-item {
    padding-left: 5%;
}

.nav-link {
    transition: all ease 200ms;
}

.nav-link:hover {
    color: #4CBEA0;
    transition: all ease 200ms;
    transform: skew(10deg);
}

#app-name {
    float: left;
    padding-left: 3%;
    font-family: 'Kollektif';
    font-size: 32px;
    color: #ffffff;
}

#logo-nav {
    float: left;
}

/*
Header Styling
*/

.header {
    width: 85%;
    height: 80vh;
    margin-top: 2vh;
}

#heading {
  font-size: 50px;
  font-family: 'Kollektif-Bold';
  color: #ffffff;
}

#header-main-text {
  font-family: 'Kollektif';
  font-size: 95px;
  margin-top: 5%;
  color: #4CBEA0;
}

#header-sub-text {
  font-family: 'Kollektif';
  font-size: 40px;
  margin-top: -3%;
  color: #ffffff;
}

#header-text {
  font-family: 'Gidole-Regular';
  font-size: 24px;
  margin-top: 15%;
  color: #ffffff;
}

.inventory-btn {
  font-family: 'Kollektif';
  padding-left: 20px;
  padding-right: 20px;
  width: 25%;
  transition: all ease 200ms;
  background-color: #4CBEA0;
  border-color: #4CBEA0;
}

.inventory-btn:hover {
  transition: all ease 200ms;
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border: 2px solid;
}

.header-cards {
  width: 100%;
  height: 100%;
  bottom: 0;
  margin-top: 20%;
}

.card-one {
  background-color: #ffffff;
  height: 170px;
  width: 200px;
  border-radius: 35px;
  transition: all ease 300ms;
}

.card-one:hover {
  transition: all ease 300ms;
  transform: scale(1.08);
}

.card-two {
  background-color: #ffffff;
  height: 170px;
  width: 200px;
  border-radius: 35px;
  margin-left: -10%;
  transition: all ease 200ms;
}

.card-two:hover {
  transition: all ease 300ms;
  transform: scale(1.08);
}

.card-three {
  background-color: #ffffff;
  height: 170px;
  width: 200px;
  border-radius: 35px;
  margin-left: -20%;
  transition: all ease 200ms;
}

.card-three:hover {
  transition: all ease 300ms;
  transform: scale(1.08);
}

#type-items {
  font-family: 'Gidole-Regular';
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  font-size: 20px;
}

#amount-items {
  font-family: 'Gidole-Regular';
  text-align: center;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 5%;
  font-size: 20px;
}

#craftable-items {
  font-family: 'Gidole-Regular';
  text-align: center;
  padding-left: 16%;
  padding-right: 16%;
  padding-top: 5%;
  font-size: 20px;
}

.type-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 75px;
  padding-top: 12%;
}

.amount-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 75px;
  padding-top: 12%;
}

.craftable-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 75px;
  padding-top: 12%;
}

.header-image-home {
  height: 100%;
  width: 100%;
  margin-top: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
Content Styling
*/

.card-full {
  width: 100%;
  height: auto;
  padding: 2%;
  background-color: #4CBEA0;
  margin-top: 18vh;
  border-radius: 25px;
}

.left-img {
  width: 75%;
  height: 75%;
  padding-top: 8%;
  padding-bottom: 8%;
  margin-left: auto;
  margin-right: auto;
}

.right-img {
  padding-top: 8%;
  padding-left: 4%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.learn {
  width: 100%;
  height: auto;
  padding: 2%;
  margin-top: 10vh;
}

.left-avatars-img {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#learn-text {
  padding-top: 40%;
  color: #ffffff;
}

.about-btn {
  font-family: 'Kollektif';
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5%;
  width: 25%;
  transition: all ease 200ms;
  background-color: #4CBEA0;
  border-color: #4CBEA0;
}

.about-btn:hover {
  transition: all ease 200ms;
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border: 2px solid;
}

.contact {
  width: 100%;
  height: auto;
  padding: 2%;
  margin-top: 5vh;
}

.right-avatars-img {
  width: 100%;
  height: 100%;
}

#contact-text {
  padding-top: 30%;
  width: 90%;
  color: #ffffff;
}

#contact-paragraph {
  color: #ffffff;
  font-family: 'Gidole-Regular';
  font-size: 22px;
  padding-top: 5%;
  width: 80%;
}

.contact-btn {
  font-family: 'Kollektif';
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5%;
  width: 25%;
  transition: all ease 200ms;
  background-color: #4CBEA0;
  border-color: #4CBEA0;
}

.contact-btn:hover {
  transition: all ease 200ms;
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border: 2px solid;
}

.footer {
  left: 0;
  bottom: 0;
  margin-top: 10vh;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 8vh;
  border-top: solid 3px #ffffff;
}

#all-rights-reserved {
  font-family: 'Gidole-Regular';
  font-size: 20px;
  float: left;
  padding-top: 1%;
}

.footer-nav li{
  display: inline-block;
  padding-top: 1%;
  font-family: 'Gidole-Regular';
  float: right;
}






