/*

Fonts:

Kollektif Bold
font-family: 'Kollektif-Bold';

Kollektif Regular
font-family: 'Kollektif';

Gidole Regular
font-family: 'Gidole-Regular';

Colours:

Light Navy = #344c63
Darker Navy = #2d4256
Navy = #1c2a39
Teal = #4a967a
Aquamarine = #4cbea0
Fuchsia = #b3415f

*/

/*
Strip the box
*/

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4CBEA0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #344C63;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #1c2a39;
}

a {
  text-decoration: none;
  color: white;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: white;
}

/*
Fonts
*/

@font-face {
    font-family: 'Kollektif-Bold';
    src: url('../fonts/Kollektif-Bold.woff2') format('woff2'),
        url('../fonts/Kollektif-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kollektif';
    src: url('../fonts/Kollektif.woff2') format('woff2'),
        url('../fonts/Kollektif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gidole-Regular';
    src: url('../fonts/Gidole-Regular.woff2') format('woff2'),
        url('../fonts/Gidole-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
Navbar Styling
*/

.navbar {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    position: sticky;
}

.navbar-brand {
    width: 40%;
}

.navbar-nav {
    margin-top: -10px;
    font-family: 'Gidole-Regular';
    font-size: 20px;
    margin-left: 10%;
    width: 60%;
}

.active {
    border-bottom: 2px solid #4CBEA0;
    transition: all ease 200ms;
}

.nav-item {
    padding-left: 5%;
}

.nav-link {
    transition: all ease 200ms;
}

.nav-link:hover {
    color: #4CBEA0;
    transition: all ease 200ms;
    transform: skew(10deg);
}

#app-name {
    float: left;
    padding-left: 3%;
    font-family: 'Kollektif';
    font-size: 32px;
}

#logo-nav {
    float: left;
}

/*
Header Styling
*/

.header {
    width: 85%;
    height: 80vh;
    margin-top: 2vh;
}

#inventory-heading {
  font-size: 45px;
  font-family: 'Kollektif';
  color: #4CBEA0;
  margin: 1.2%;
}

.total {
  font-size: 20px;
  font-family: 'Kollektif';
  color: #ffffff;
  margin-left: 2%;
}

.inventory-item {
  width: 12%;
  background-color: #ffffff;
  margin: 2%;
  height: 34vh;
  border-radius: 15px;
  text-align: center;
  font-family: 'Kollektif';
  display: inline-block;
}

.item-image {
  width: 55%;
  height: 34%;
  margin-top: 14%;
  transition: all ease 300ms;
  animation: headShake;
}

.item-image:hover {
  transition: all ease 200ms;
  transform: rotate(10deg);
}

.inventory-wrapper {
  position: relative;
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  transition: all 0.2s;
  transform: scale(1);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.inventory-wrapper.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1.0);
}

#inventory-item-heading {
  font-size: 28px;
  color: #ffffff;
  margin-left: 2%;
}

.inventory-wrapper::-webkit-scrollbar {
  display: block;
  -webkit-appearance: none;
}

#inv-item-name {
  font-family: 'Gidole-Regular';
  font-size: 25px;
  padding-top: 6%;
  margin-left: auto;
  margin-right: auto;
}

#inv-item-amount {
  font-family: 'Kollektif-Bold';
  font-size: 20px;
  color: #1c2a39;
}

#recipes-heading {
  font-size: 45px;
  font-family: 'Kollektif';
  color: #4CBEA0;
  margin: 2%;
}

.recipe-item {
  width: 12%;
  background-color: #ffffff;
  margin: 1.4%;
  height: 26vh;
  border-radius: 15px;
  text-align: center;
  font-family: 'Kollektif';
  display: inline-block;
}

.recipe-wrapper {
  position: relative;
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  transition: all 0.2s;
  transform: scale(1);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.recipe-wrapper.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

#recipe-item-heading {
  font-size: 28px;
  color: #ffffff;
  margin-left: 2%;
}

.recipe-wrapper::-webkit-scrollbar {
	display: block;
	-webkit-appearance: none;
}

#recipe-name {
  font-family: 'Gidole-Regular';
  font-size: 25px;
  padding-top: 6%;
  margin-left: auto;
  margin-right: auto;
}

span {cursor:pointer; }
		.number{
			margin-top:10%;
		}
		.minus, .plus{
			width:30px;
			height:30px;
			background:#1c2a39;
      color: #ffffff;
			border-radius:50%;
			padding:2px 5px 8px 5px;
			border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:34px;
      width: 80px;
      text-align: center;
      background-color: #4CBEA0;
      color: #ffffff;
      font-size: 22px;
			border:1px solid #ddd;
			border-radius:50px;
      display: inline-block;
      vertical-align: middle;
    }

.update-btn {
	background-color: #1c2a39;
	font-family: 'Gidole-Regular';
	font-size: 20px;
	width: 70%;
	margin-top: 12%;
	transition: all ease 200ms;
}

.update-btn:hover {
	transition: all ease 200ms;
	background-color: transparent;
	border: solid 1px #1c2a39;
	color: #1c2a39;
}

/*
Footer Styling
*/

.footer {
  left: 0;
  bottom: 0;
  margin-top: 10vh;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 8vh;
  border-top: solid 3px #ffffff;
}

#all-rights-reserved {
  font-family: 'Gidole-Regular';
  font-size: 20px;
  float: left;
  padding-top: 1%;
}

.footer-nav li{
  display: inline-block;
  padding-top: 1%;
  font-family: 'Gidole-Regular';
  float: right;
}